
<div class="flex flex-col w-full items-center my-8">
  <span class="text-5xl font-bold text-slate-800">Pokemon Battle</span>
  <div *ngIf="battleResult === undefined && !!playing" class="flex">
    <span>Turn Clock:&nbsp;</span>
    <span class="w-4 text-center">{{turnClock}}</span>
  </div>
  <div *ngIf="battleResult !== undefined" class="flex">
    <span>{{battleResult}}</span>
  </div>
</div>

<div *ngIf="!playing; else battle">
  <div class="flex w-full justify-center my-8">
    <span class="text-2xl font-bold text-slate-800">{{(player?.pokemonName) ? "Waiting opponents..." : "Choose your pokemon!" }}</span>
  </div>
  
  <div class="flex flex-1 flex-wrap w-full h-full justify-center items-center">
    <pokemon-card *ngFor="let p of pokemonList" (click)="select(p)" [pokemon]="p" [selected]="p.name === player?.pokemonName" [disabled]="player?.pokemonName && p.name !== player?.pokemonName"></pokemon-card>
  </div>
</div>

<ng-template #battle>
  
  <div class="flex flex-col items-center">
    <div class="flex">
      <pokemon-card
        [pokemon]="pokemonMap?.[player?.pokemonName]"
        [life]="player?.life"
        [energy]="player?.energy"
        [isDefending]="player?.isDefending"
        [selected]="false"
        [disabled]="player?.life <= 0"
        [hover]="false"
      ></pokemon-card>
      <div class="flex flex-col items-center w-[120px] my-2">
        <button class="action-button" (click)="attack()">Attack</button>
        <button class="action-button" (click)="defense()">Deffense</button>
        <button class="action-button" (click)="load()">Load</button>
        <span class="mb-2">Actions:</span>
        <div class="flex flex-col flex-1 w-full max-h-[128px] bg-slate-500 text-white px-2 py-1 rounded-lg custom-scroll">
          <div class="flex" *ngFor="let act of player?.threads; let i = index">
            <span class="w-4 text-center">{{i}}</span>
            <span>&nbsp;-&nbsp;{{act}}</span>
          </div>
        </div>
      </div>
    </div>
  
    <div class="flex">
      <pokemon-card *ngFor="let o of opponents" [pokemon]="pokemonMap?.[o?.pokemonName]" [life]="o?.life" [selected]="false" [disabled]="o?.life <= 0" [hover]="false" class="scale-75"></pokemon-card>
    </div>
  </div>

</ng-template>


